html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 2%;
    padding: 0;
    font-family: sans-serif;
    background-color: lightgreen;
}


.site-title {
    font-size: 50px;
    font-weight: 900;
    line-height: 35px;
}

.entry-header {
    font-size: 20px;
    font-weight: 900;
    line-height: 35px;
}

.footer-info {
    font-size: 20px;
    line-height: 35px;
}

.site-header,
.site-main,
.widget-area,
.site-footer {
    padding-top: var(--global--spacing-vertical);
    padding-bottom: var(--global--spacing-vertical);
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(1%, 1fr));
    grid-template-rows: repeat(2, minmax(1%, 1fr));
    grid-gap: 4%;
    row-gap: 10%;
    padding: 50px;
}

.baseball-card-container {
    width: 100%;
    padding-bottom: 140%;
    perspective: 1000px;
    border-radius: 0.5rem;
}
.baseball-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.baseball-card-container:hover .baseball-card {
    transform: rotateY(180deg);
}
.baseball-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
    backface-visibility: hidden;
    border-radius: 0.5rem;
}
.baseball-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.baseball-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: DarkGrey;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 0.5rem;
}
.baseball-card-back p {
    text-align: center;
    margin: 1vw;
    line-height: 1.5vw;
    font-size: 1vw;
}

